* {
  box-sizing: border-box;
}

:root {
  --primary-color: #171100;
  --secondary-color: #5f5b53;
  --third-color: #fff;
  --fourth-color: #fffcf4;
  --font-heading: "Sen", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  height: 10000px;
}

/* ======= Common ======= */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 118px;
  color: var(--third-color);
  border-radius: 999px;
  background: var(--primary-color);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

/* ======= Header ======= */
.header {
  background: var(--fourth-color);
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header .nav {
  margin-left: auto;
}

.header ul {
  display: flex;
  gap: 42px;
}

.header .sign-up-btn {
  margin-left: 70px;
}

.header .link {
  color: var(--secondary-color);
  font-size: 1.6rem;
  font-weight: 400;
}

.header .link.active,
.header .link:not(.active):hover {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  text-shadow: 1px 0 0 var(--primary-color);
}

.header .link.active {
  position: relative;
}

.header .link.active::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  content: "";
  display: inline-block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: var(--primary-color);
}

.header .sign-up-btn {
  min-width: 144px;
  padding: 11px 41px;
}

.block {
  display: flex;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

/* ======= Hero ======= */
.hero {
  padding-top: 56px;
  background: var(--fourth-color);
}

.hero .body {
  display: flex;
}

.hero .media-block {
  width: 48%;
}

.hero .media-block {
  position: relative;
}

.hero .media-block .hero-img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
}

.hero .media-block .cards {
  position: absolute;
  right: 0;
  bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 270px;
  padding: 28px 24px;
  border-radius: 12px;
  background: var(--third-color);
}

.hero .media-block .card {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero .media-block .icon {
  padding: 12px;
  border-radius: 999px;
}

.hero .media-block .card:nth-child(1) .icon {
  background: #fff9e8;
}

.hero .media-block .card:nth-child(2) .icon {
  background: #fcefff;
}

.hero .media-block .card:nth-child(3) .icon {
  background: #ebeaff;
}

.hero .media-block .label {
  color: #5f5b53;

  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.hero .media-block .title {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .content-block {
  padding: 64px 0 0 130px;
  width: 52%;
}

.hero .content-block > .desc {
  margin-top: 22px;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

.hero .content-block .cta-group {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 38px;
}

.hero .content-block .see-courses-btn {
  min-width: 180px;
  padding: 17px 34px;
  border-radius: 32px;
  color: #fff;
  background: #ffb900;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.hero .content-block .see-courses-btn {
}

.hero .content-block button.watch-video {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hero .content-block .icon {
  transform: translateY(9%);
}

.hero .cta-group .desc {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}
